<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'sources')}">
<head>
    <meta charset="UTF-8">
    <title>Source Form</title>
</head>
<body>

<h2>Source</h2>
<form th:object="${source}" class="form-horizontal" id="add-source-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input ('Short Title', 'shortTitle', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Full Title', 'fullTitle', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('URL', 'url', 'text')}"/>
        <input th:replace="~{fragments/selectField :: select ('Source type', 'sourceType', ${sourceTypes})}"/>
        <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${source['new']} ? 'Add Source' : 'Update Source'"
                    class="btn btn-default" type="submit" th:text="${text}">
                Add Source
            </button>
        </div>
    </div>
</form>

</body>
</html>
