<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Sources</title>
</head>
<body>

<h1 th:text="'List of Sources'">List of Sources ...</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Full Title</th>
        <th>Url</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="source : ${sources}">
        <td th:text="${source.id}"></td>
        <td th:text="${source.shortTitle}"></td>
        <td th:text="${source.fullTitle}"></td>
        <td th:text="${source.url}"></td>
        <td th:text="${source.sourceType}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>