<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'keyterms')}">
<head>
    <meta charset="UTF-8">
    <title>List of Key Terms</title>
</head>
<body>

<h2 th:text="'List of Key Terms'">List of Key Terms ...</h2>

<table id="keyterms" class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="keyterm : ${keyterms}">
        <td>
            <a href="#" th:text="'#' + ${keyterm.id}" th:href="@{/keyterms/{keytermId}(keytermId=${keyterm.id})}">Id</a>
        </td>
        <td th:text="${keyterm.name}"></td>
        <td th:text="${keyterm.description}"></td>
        <td><a href="#" th:href="@{/keyterms/{keytermId}/edit(keytermId=${keyterm.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/keyterms/new}" class="btn btn-default">Add Key Term</a>

</body>
</html>