<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'questions')}">
<head>
    <meta charset="UTF-8">
    <title>Question Form</title>
</head>
<body>

<h2>Question</h2>
<form th:object="${question}" class="form-horizontal" id="add-question-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/selectField :: select ('Category', 'category', ${categories})}"/>
        <input th:replace="~{fragments/inputField :: input ('Wording (en)', 'wordingEn', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Wording (ru)', 'wordingRu', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Short Answer (en)', 'shortAnswerEn', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Short Answer (ru)', 'shortAnswerRu', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Comment', 'comment', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${question['new']} ? 'Add Question' : 'Update Question'"
                    class="btn btn-default" type="submit" th:text="${text}">
                Add Owner
            </button>
        </div>
    </div>
</form>

</body>
</html>
