<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'questions')}">
<head>
    <meta charset="UTF-8">
    <title>Question Details</title>
</head>
<body>

<h2>Question Details</h2>

<table class="table table-striped" th:object="${question}">
    <tr>
        <th>Category</th>
        <td><a href="#"
               th:href="@{'/categories/' + ${question.category?.id}}"
               th:text="*{category?.name}"></a></td>
    </tr>
    <tr>
        <th>Question (en)</th>
        <td th:text="*{wordingEn}"></td>
    </tr>
    <tr>
        <th>Question (ru)</th>
        <td th:text="*{wordingRu}"></td>
    </tr>
    <tr>
        <th>Short Answer (en)</th>
        <td th:text="*{shortAnswerEn}"></td>
    </tr>
    <tr>
        <th>Short Answer (ru)</th>
        <td th:text="*{shortAnswerRu}"></td>
    </tr>
    <tr>
        <th>Preferred Answer</th>
        <td th:text="*{preferredAnswer?.wordingEn}"></td>
    </tr>
    <tr>
        <th>Comment</th>
        <td th:text="*{comment}"></td>
    </tr>
    <tr>
        <th>Usages</th>
        <td th:text="*{interviewUsageCount}"></td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${question.id})}" class="btn btn-default">Edit Question</a>
<a th:href="@{{id}/keyterms/add(id=${question.id})}" class="btn btn-default">Add Key Term</a>
<a th:href="@{{id}/answers/new(id=${question.id})}" class="btn btn-default">Add New Answer</a>

<br/>
<br/>
<h2>Key Terms</h2>

<table class="table table-striped">
    <tr>
        <td th:each="keyTerm : ${question.keyTerms}">
            <a href="#" th:text="${keyTerm.name}"
               th:href="@{/keyterms/{keytermId}(keytermId=${keyTerm.id})}">Name</a>
        </td>
    </tr>
</table>

<br/>
<h2>Answers</h2>

<form th:action="@{{id}/prefer(id=${question.id})}" method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Prefer</th>
            <th>Answer</th>
            <th>Ответ</th>
            <th>Type</th>
            <th>Source</th>
            <th>Source Details</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="answer : ${question.answers}">
            <td>
                <input type="radio" class="form-check-input" name="preferredAnswerId"
                       th:value="${answer.id}"
                       th:checked="${answer.id == question.preferredAnswer.id}">
            </td>
            <td th:text="${answer.wordingEn}"></td>
            <td th:text="${answer.wordingRu}"></td>
            <td th:text="${answer.answerType}"></td>
            <td th:text="${answer.source?.shortTitle}"></td>
            <td th:text="${answer.sourceDetails}"></td>
            <td th:text="${answer.comment}"></td>
            <td>
                <table class="table-condensed">
                    <tr>
                        <td><a href="#"
                               th:href="@{{questionId}/answers/{answerId}/view(questionId=${question.id},answerId=${answer.id})}">
                            View</a></td>
                    </tr>
                    <tr>
                        <td><a href="#"
                               th:href="@{{questionId}/answers/{answerId}/edit(questionId=${question.id},answerId=${answer.id})}">
                            Edit</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-10">
            <button class="btn btn-default" type="submit">
                Save Selected Preferred Answer
            </button>
        </div>
    </div>
</form>

</body>
</html>
